/* Intro Title ASCII Art */
.ascii-art {
	font-size: 0.17rem;
}

@media (min-width: 640px) {
	.ascii-art {
		font-size: 0.25rem;
	}
}

@media (min-width: 827px) {
	.ascii-art {
		font-size: 0.3rem;
	}
}

@media (min-width: 1024px) {
	.ascii-art {
		font-size: 0.45rem;
	}
}

/* Blinking Cursor */
.blinking-cursor {
	animation: 1s blink step-end infinite;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}
